
header {
    background-color: #76B55B;
    height: 60px;
    margin: -8px;
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: #76B55B;
    height: 60px;
    width: 100%;
    margin: -8px;
    position: absolute;
    bottom: 0;
}

.main {
    text-align: center;
    height: 250px;
}

.image {
    text-align: center;
}

.result {
    text-align: center;
}

.result ul {
    display: inline-block;
    padding-left: 0;
}

.result li {
    text-align: left;
}

h1 {
    margin: 7px 25px;
}

h2 {
    margin: 90px 0px;
}

small {
    margin: 8px 15px;
    position: absolute;
    bottom: 0;
}